{{ define "main" }}

<div class="ph3 bg-off-white">
  <div class="center mw6 pv3">

    <img src="{{ .Params.logo }}" alt="" class="db w6 center pv4">

    {{ .Content }}

    <div class="flex-ns flex-wrap mb3">
      {{ range .Params.contact_entries }}
        <div class="w-third-ns pr3 mb3">
          <h4 class="f4 b lh-title mb2 brown">{{ .heading }}</h4>
          <p>{{ .text | safeHTML }}</p>
        </div>
      {{ end }}
    </div>

    <div class="tc">
      <a 
        href="https://maps.app.goo.gl/CitrXMKGQ1iEnbqk7" 
        target="_blank" 
        rel="noopener noreferrer"
        class="btn raise bg-brown white ph4 pv3 br2 dib"
      >
        Store location
      </a>
    </div>

    <div class="mt5">
      <h3 class="f3 b lh-title mb3 tc">Send Us a Request</h3>
      <form 
        action="https://formspree.io/f/mjkwgply" 
        method="POST" 
        class="bg-white pa4 br2"
      >
        <div class="mb3">
          <label for="name" class="db mb2">Your Name</label>
          <input type="text" id="name" name="name" required class="w-100 pa2 br2 ba">
        </div>
        
        <div class="mb3">
          <label for="email" class="db mb2">Your Email</label>
          <input type="email" id="email" name="_replyto" required class="w-100 pa2 br2 ba">
        </div>
        
        <div class="mb3">
          <label for="message" class="db mb2">Your Request</label>
          <textarea id="message" name="message" rows="4" required class="w-100 pa2 br2 ba"></textarea>
        </div>
        
        <input type="hidden" name="_subject" value="New Contact Request">
        
        <div class="tc">
          <button type="submit" class="btn raise bg-brown white ph4 pv3 br2 dib">
            Send Request
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

{{ end }}
