{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ range .Params.product_sections }}
  <div class="mw7 center ph3 pv4">
    <h2 class="f3 b mb3">{{ .heading }}</h2>
    <div class="flex flex-wrap mhn1">
      {{ range .products }}
        <div class="w-100 w-33-ns ph1 mb4">
          <img src="{{ .image }}" alt="" class="db mb2 center" style="width:100%;">
          <p class="tc">{{ .description }}</p>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ end }}
